:root {
    --rich-black-fogra: #001011ff;
    --rich-black: #093a3eff;
    --verdigris: #3aafb9ff;
    --electric-blue: #64e9eeff;
    --pale-cerulean: #97c8ebff;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 0;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion-active, .accordion:hover {
  background-color: #ddd;
  border: 0;
}

.panel {
  padding: 0;
  margin-bottom: 10px;
  background-color: white;
  display: none;
  overflow: hidden;
} 

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.accordion-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel table {
    margin-bottom: 5px;
}

.badge {
    color: white;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
    user-select: none;
}

.badge-mac, .badge-pin {
    background-color: #008cba;
}

.badge-user {
    background-color: #4CAF50;
}

* {
    margin: 0;
    padding: 0;
    font-family: Geneva, Verdana, sans-serif;
}

#header {
    width: 100%;
    height: 140px;
    
}

#sidebar {
    float: left;
    width: 16%;
    height: 100%;
    min-height: 640px;
    background-color: var(--rich-black-fogra);
    padding: 1%;
}

#contentnorightbar {
    float: left;
    width: 80%;
    height: 100%;
    min-height: 640px;
    padding: 1%;
}

#footer {
    clear: both;
    padding: 1%;
    background-color: var(--rich-black);
    color: white;
    margin-bottom: 0 !important;
}

#footer a {
    color: lightgray;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Geneva, Verdana, sans-serif;
}

#wrapper {
    background: white;
    max-width: 100%;
    min-width: 800px;
    margin: 0 auto;
}

#innerwrapper {
    width: 100%;
}

#header input {
    width: 240px;
    margin: 12px;
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 3px;
    resize: vertical;
}

#header input:focus, #header input:hover {
    border: 1px solid darkgray;
    background-color: ghostwhite;
}

#header form {
    float: right;
    width: 320px;
    border: none;
}

#header h1 {
    float: left;
    font-size: 250%;
    padding: 5px 20px;
    border-right: 1px solid #ccc;
    margin: 0 20px 0 0;
}

#header h2 {
    font-weight: normal;
    font-size: 125%;
    color: var(--rich-black);
    padding: 0;
    padding-top: 16px;
    border: none;
}

#header h2 a {
    color: var(--rich-black-fogra);
    text-decoration: none;
}

#header h2 a:hover {
    color: var(--rich-black);
}

#header #login_data {
    float: right;
    margin: 10px;
}

#header #login_data a {
    color:#f00;
    text-decoration:none;
}

#header .sep {
    float:right;
    border-right:1px solid #ccc;
    margin: 0;
    padding: 0;
    font-size: 46px;
}

#header #nav {
    background-color: var(--rich-black-fogra);
    padding: 10px;
    margin-top: 20px;
}

#header a em {
    font-style: normal;
    text-decoration: underline;
}

#header #nav a {
    color: white;
    font-size: 120%;
    text-decoration: none;
    padding: 10px;
}

#header #nav a:hover, #header #nav a.active {
    background-color: var(--verdigris);
}

#header #nav li, #header #subnav li {
    display: inline;
    list-style: none;
    margin: auto 1px;
}

#header #subnav {
    background-color: var(--verdigris);
    padding: 0;
    font-size: 90%;
    color: white;
    padding: 10px 25px;
}

#header #subnav a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    
}

#header #subnav a:hover, #header #subnav a.active {
    background-color: var(--electric-blue);
}

#sidebar h2 {
    color: var(--electric-blue);
    font-size: 110%;
    font-weight: bold;

    margin: 5px 0;
    border: 0;
}

#sidebar h3 {
    color: var(--verdigris);
    font-size: 90%;
    font-weight: bold;

    margin-top: 30px;
}

#sidebar p {
    margin:15px 0;
}

#sidebar p.news {
    padding: 7px;
    margin: 5px auto;
    border: 1px solid var(--pale-cerulean);
    border-radius: 3px;
    resize: vertical;
    
    font-size: 14px;
    color: var(--pale-cerulean);
    background-color: var(--rich-black-fogra);
    
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

#sidebar p.news a.more {
    color: #eeeeee;
    display: block;
    text-align: right;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 0;
}

#sidebar p.news a:hover {
    color: var(--electric-blue);
}

#sidebar .subnav {
    border-top: 1px solid var(--pale-cerulean);
}

#sidebar .subnav li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid var(--pale-cerulean);
}

#sidebar .subnav li a {    
    color: white;
    text-decoration: none;
    display: block;
}

#sidebar .subnav li a:hover {
    color: var(--pale-cerulean);
}

#sidebar .subnav li a b {
    float: right;
    display: none;
    color: var(--pale-cerulean);
}

#sidebar .subnav li a:hover b {
    display: inline;
}

#sidebar input, #sidebar select {
    width: 100%;
    padding: 7px;
    margin: 5px auto;
    border: 1px solid var(--pale-cerulean);
    border-radius: 3px;
    resize: vertical;
    
    font-size: 14px;
    color: var(--rich-black-fogra);
    background-color: white;
    
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

h3.form {
    font-weight: bold;
    margin: auto 20px;
}

fieldset textarea {
    padding: 5px;
    margin: 4px;
    border: 1px solid var(--rich-black);
    border-radius: 3px;
    resize: vertical;
    
    min-width: 200px;
    
    font-size: 12px;
    color: var(--rich-black-fogra);
    background-color: white;
    
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

fieldset input[type=text], fieldset input[type=number],
fieldset input[type=date], fieldset input[type=password],
fieldset input[type=email], fieldset select {
    padding: 5px;
    margin: 4px;
    border: 1px solid var(--rich-black);
    border-radius: 3px;
    resize: vertical;
    
    min-width: 200px;
    
    font-size: 12px;
    color: var(--rich-black-fogra);
    background-color: white;
    
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

fieldset input[type=text]:disabled, fieldset input[type=numer]:disabled,
fieldset input[type=date]:disabled, fieldset input[type=password]:disabled,
fieldset input[type=email]:disabled, fieldset select:disabled {
    background-color: #eeeeee;
    border: 1px solid gray;
}

#sidebar select:hover, #sidebar select:focus, #sidebar input:hover, #sidebar input:focus {
    border: 1px solid var(--electric-blue);
}

#sidebar label {
    color: white;
    font-size: 14px;
    display: block;
    width: 100%;
}

#sidebarright {
    width:170px;
    float:right;
    padding:10px 0 0 20px;
    background:url(../images/sidebarright.jpg) top left no-repeat;
}

#sidebarright p {
    font:90% sans-serif;
    color:#777;
    line-height:20px;
    margin:10px 0;
}

#sidebarright h2 {
    font:140% sans-serif;
    color:#333;
    margin:10px 0;
    border:none;
}

#sidebarright ul {
    margin:10px 0 10px 15px;
    font:90% sans-serif;
}

#sidebarright ul li {
    margin:5px 0;
}

#sidebarright a {
    border-bottom:1px dotted #eee;
    color:#444;
    text-decoration:none;
}

#sidebarright a:hover {
    border-bottom:1px solid #ccc;
}


#content {
    margin:0 210px 0 240px;
    background:url(../images/content.jpg) top left no-repeat;
    padding:20px 0 0 20px;
}

#content ul {      
             margin:15px 0 15px 0;      
             line-height:25px;      
             padding:15px 0 15px 15px;      
             border-top:1px solid #eee;      
             border-bottom:1px solid #eee;      
             color:#79B933;      
}

#content ul span {      
         color:#444;      
}

/*
#contentnorightbar {
    margin:0 0 0 240px;
    padding:20px 0 0 20px;
}
*/

p {
    margin:15px 0;
    line-height:22px;
}

h2 {
    font-size: 190%;
    color: var(--pale-cerulean);
    border-bottom: 2px solid #eeeeee;
}

h2 a {
    color: var(--pale-cerulean);
    text-decoration: none;
}

h2 a:hover {
    color: var(--pale-cerulean);
}

/*
#footer {
    clear:both;
    border-top:1px solid #eee;
    padding:10px;
    margin:30px 0 0;
}
*/

a {
    color:#222;
}

th a.table {
    background-color: #008CBA;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 14px;
    line-height: normal;
    font-weight: normal;
    float: left;
    opacity: 1;

}

a.table:focus, a.table:hover {
    opacity: 0.8;
}

a.toolTip {
    color: var(--pale-cerulean);
}

/*
    --rich-black-fogra: #001011ff;
    --rich-black: #093a3eff;
    --verdigris: #3aafb9ff;
    --electric-blue: #64e9eeff;
    --pale-cerulean: #97c8ebff;
*/

a:hover {
    text-decoration: none;
}

h3 {
    font:140% sans-serif;
    margin:10px 0;
}

#contentnorightbar ul {
    margin:15px 0 15px 20px;
    text-align:left;
    list-style-type: none;
    border:    0px;
    padding-bottom:    2px;
    color:#79B933;
}

li.fieldset {
    clear: left;
    padding-top: 1px;
}

#contentnorightbar ul span {
    color:#444; 
}

#contentnorightbar h9 {
        font:150% sans-serif;
        color:#0066CC;
        padding:16px 0 0 0;
        border:none;
}

#contentnorightbar h8 {
        font:150% sans-serif;
        color:#FF0000;
        padding:16px 0 0 0;
        border:none;
}


#contentnorightbar h7 {
        font:150% sans-serif;
        color:#666;
        padding:16px 0 0 0;
        border:none;
}

form.sidebar {
    padding:10px;
    border:0px solid #f6f6f6;
}


/***********************************************
* Forms With Style -  Design Melt Down (www.designmeltdown.com)
* This notice MUST stay intact for legal use
* Visit Design Melt Down at http://www.designmeltdown.com/ 
***********************************************/

form input[type="submit"].button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px auto;
    opacity: 1;
}

form input[type="submit"].button:hover {
    opacity: 0.7;
}

#contentnorightbar form fieldset hr {
  border-top: 1px solid white;
}

#contentnorightbar form {
    background-color: #fafafa;
    padding-bottom: 4px;
}

#contentnorightbar form fieldset {
    color: var(--rich-black);
    font-size: 12px;
    border: none;
    padding: 10px;
    margin: 2px auto;
}

#contentnorightbar form fieldset:disabled {
    opacity: 0.25;
}

label.form {
    display: inline;
    vertical-align: baseline;
    font-weight: bold;
    color: var(--rich-black-fogra);
    float: left;
    min-width: 220px;
    margin: auto 8px;
    clear: left;
}

label.dorm {
    background-position:left;

    color:#646729;
    font-size:90%;
    font-weight:bold;
    
    border-width: 0px;
    
    display:block;
    float:left;
    width:160px;
    height:1px;
    text-align:left;
    margin:4px 0px 0px 0px;
    padding:0px 0px 0px 8px;
    clear:left;
}

label.attributes {
    background-position:left;

    color:#646729;
    font-size:90%;
    font-weight:bold;
    
    border-width: 0px;
    
    display:block;
    float:left;
    min-width:280px;
    height:1px;
    text-align:left;
    margin:4px 0px 0px 0px;
    padding:0px 0px 0px 8px;
    clear:left;
}

input.sidebutton {
    height:25px;
    width:180px;
    padding:1px;
    border:1;
    font:100% sans-serif;
    color:#000000;
    margin: 2px;
}

input[type="button"], input[type="submit"] {
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
    opacity: 1;
}

#contentnorightbar form .tabcontent input[type="submit"],
#contentnorightbar form input[type="submit"]
 {
    display: block;
    width: 30%;
}

/*
th .button {
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
    opacity: 1;
}
*/

th .button:focus, th .button:hover {
    opacity: 0.8;
}

th .delete {
    background-color: #eb4746;
    color: white;
}

th .delete:focus, th .delete:hover {
    background-color: #f56d6d;
    color: #eeeeee;
}

input.integer5len {
        width:54px;
}

input.integerLarge {
        width:34px;
}

input.integer {
        width:19px;
}

input.money {
    text-align:right;
}

input[type="radio"] {
        width:13px;
}

input[type=checkbox] {
    width:15px;
    padding:1px,10px,10px,10px;
    margin: 2px,10px,10px,10px;
}

input[type='checkbox'].form {
    width:15px;
    margin-top: 7px;
}

/*
select.form {
    width:185px;
    height:22px;
    padding:1px;
    border:1;
    font:100% sans-serif;
    color:#000000;
    margin: 2px;
}
*/

select.long {
    width:185px;
    height:20px;
    padding:1px;
    border:1;
    font:100% sans-serif;
    color:#000000;
    margin: 2px;
}


div.ToolTip {
    font:88% sans-serif;
    padding-top: 1px;
    padding-bottom: 8px;
    padding-right: 8px;
    float:right; 
/*    color:#E8A417; */
    color:#646729; 
    background-color: #FFF;
    margin-right:32px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    box-shadow: 4px 4px #000;
}


div.ToolTip2 {
    font:88% sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
    color:#646729;
}


option {
        padding:2px;
}


textarea.form {
    padding:4px;
    margin:2px;
    background:#ffffff;
    color:#000000;
    font:90% sans-serif;
    width:175px;
    height:60px;
}

textarea.form_fileimport {
    padding:4px;
    margin:2px;
    background:#ffffff;
    color:#000000;
    font:90% sans-serif;
    width:575px;
    height:400px;
}

p img {
    float:left;
    margin:0 10px 0 0;
}

a.helper {
    color: green;
        font: 9px sans-serif;
    padding: 2px;
    text-decoration:none;
}


blockquote p {
    font:160% sans-serif;
    color:#aaa;
    padding:0 10% 0 0;
    line-height:30px;
}

table {
    width: 100%;
    color: #000000;
    font: 0.9em/1.6em sans-serif;
/*
    border-collapse: collapse;
*/
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #CCC;
}

table,caption {
    margin: 0 auto;
/*    border-right: 1px solid #CCC; */
/*    border-left: 1px solid #CCC; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

thead tr:first-child td {
    border: none;
}

tfoot tr:last-child th {
    border: none;
    color: var(--rich-black);
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tbody a.novisit {
    border: none;
}

td input[type="checkbox"] {
    margin: auto 8px;
}

/*
:root {
    --rich-black-fogra: #001011ff;
    --rich-black: #093a3eff;
    --verdigris: #3aafb9ff;
    --electric-blue: #64e9eeff;
    --pale-cerulean: #97c8ebff;
}
*/

tbody a.tablenovisit {
    color: var(--rich-black);
}

td.money {
    text-align:right;
}

/* the color red used on acct-active.php to highlight overdue accounts */
h100 {
    color: red;
}

h109 {
    color: white;
}

/* the <h144> header tag is used to display the ? char for page's helpPage information */
h144 {
    margin-left: 5px;
    padding-left: 5px;
    font-size: 0.75em;
    border-left: 1px solid #eeeeee;
}

/* used in language files to highlight sections */
h200 {
    color: #FF8040;
}

/* header used in fieldset */
h301 {
    font-size: 110%;
    font-weight: bold;
    color: var(--verdigris);
}

/* header used in fieldset */
fieldset h302 {
    display: block;
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: var(--pale-cerulean);

    user-select: none;
}



/********************* BEGIN Carlos Changes ************************/

.summarySection {
    width: 70%;
    margin: 10px auto;
}

.summarySection tr {
    vertical-align: center;
}

.summaryValue {
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
}

.summaryKey {
    width: 35%;
    background-color: white;
    text-align: right;
    vertical-align: top;
}

.sleft { float: left; }

/********************* END Carlos Changes ************************/







/********************* BEGIN Carlos box containers ***************/



.failure {
    border: 1px solid #fa601d;
    padding: 9pt 9pt 9pt 33pt;
    margin: 12px auto;
    color: #484554;
    font-family: sans-serif;
    background: #FDDDD9 url("../images/icons/action-error.gif") 6pt 6pt no-repeat;
    
}

.warning {
    background: #F8FEA5 url(../images/icons/action-warning.gif) no-repeat scroll 6pt;
    border: 1px solid #EBFA1D;
    color: #484554;
    margin: 12px;
    padding:9pt 9pt 9pt 33pt;
}

.success {
    background: #DFEF7A url(../images/icons/action-success.gif) no-repeat scroll 6pt;
    border: 1px solid #A9C500;
    color: #484554;
    padding: 9pt 9pt 9pt 33pt;
    margin: 12px auto;
}


.help {
    border-bottom: 1px solid #1d4efa;
    padding: 9pt 9pt 9pt 33pt;
    color: #484554;
    font-size: 8pt;
    background: #DFF5FE url("../images/icons/action-help.gif") 6pt 6pt no-repeat;
    margin: 1em 0px 1em 0px;
}


/********************* END Carlos box containers *****************/
