body {
	font: 1em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	word-spacing:2px;
	color:#444;
	margin:20px;
	background:url(../images/body.jpg) #f6f6f6;
}

* {
	margin:0;
	padding:0;
	
}

#wrapper {
	background:#fff;
	border:3px solid #f1f1f1;
	max-width:100%;
	width:expression(this.width > 320 ? "320px" : this.width);
	min-width:760px;
	margin:0 auto;
}

* html #wrapper
{
	w\idth: expression(document.documentElement.clientWidth > 1200 ? "1200px" : "auto");
}

#innerwrapper {
	margin:1px;
	background:url(../images/innerwrapper.jpg) top repeat-x;
	padding:20px;
}

#header input {
	width:150px;
	padding:5px;
	background:#fff;
	border:2px solid #f6f6f6;
	font:150% Arial;
	color:#999;
}

#header input:hover {
	border:2px solid #ccc;
}

#header input:focus {
	border:2px solid #79B5D6;
	color:#555;
}

#header form {
	padding:27px 25px 20px 20px;
	float:right;
	/*background:#fff;*/
	width:160px;
	margin:-20px -20px 0 0 !important;
	margin:-20px -10px 0 0;
	border:none;
}

#header h1 {
	float:left;
	font:250% Arial;
	color:#333;
	padding:5px 20px 5px 5px;
	border-right:1px solid #ccc;
	margin:0 20px 0 0;
}

#header h1 a {
	color:#333;
	text-decoration:none;
	border-bottom:2px solid #f6f6f6;
}

#header h1 a:hover {
	color:#111;
	border-bottom:2px solid #79B5D6;
}

#header h2 {
	font:150% Arial;
	color:#666;
	padding:16px 0 0 0;
	border:none;
}

#header h2 a {
	color:#444;
	text-decoration:none;
	border-bottom:2px solid #f6f6f6;
}

#header h2 a:hover {
	border-bottom:2px solid #79B5D6;
}

#header #login_data {
	float:right;
	border-left:1px solid #ccc;
	margin:0 0 0 20px;
	padding: 0 0 0 20px;
}

#header #login_data a {
	color:#f00;
	text-decoration:none;
}

#header #sep {
	float:right;
	border-right:1px solid #ccc;
	margin:0 0 0 0;
}

#header #nav {
	clear:both;
	background:url(../images/nav.jpg) top repeat-x #4F9EC9;
	border-bottom:2px solid #4F9EC9;
	border-top:2px solid #388CBA;
	border-left:2px solid #388CBA;
	border-right:2px solid #388CBA;
	padding:10px 10px 10px 0 !important;
	padding:4px 10px 10px 0;
}

#header a em {
	font-style:normal;
	text-decoration:underline;
}

#header #nav a {
	color:#fff;
	font:140% Trebuchet MS;
	text-decoration:none;
	padding:10px;
}

#header #nav a:hover {
	background:#4F9EC9;
}

#header #nav a.active {
	background:#4F9EC9;
}

#header #nav li {
	display:inline;
	list-style:none;
	margin:0 1px 0 0;
}

#header #subnav {
	background:#4F9EC9;
	padding:5px 7px 7px 7px;
	font:90% Verdana;
	color:#DEEDF5;
	border-bottom:2px solid #388CBA;
	border-left:2px solid #388CBA;
	border-right:2px solid #388CBA;
}

#header #subnav li {
	list-style:none;
	display:inline;
}

#header #subnav a {
	color:#DEEDF5;
	text-decoration:none;
	font:100% Verdana;
	padding:5px;
	border-bottom:2px solid #4F9EC9;
}

#header #subnav a:hover {
	border-bottom:2px solid #388CBA;
	color:#fff;
}

#header #subnav a.active {
	border-bottom:2px solid #388CBA;
	color:#fff;
}


#sidebar {
	background:#333;
	width:200px;
	padding:10px 20px 20px 20px;
	float:left;
	color:#666;
	border-top:2px solid #000;
	border-bottom:10px solid #000;
}

#sidebar h2 {
	font:160% Arial;
	color:#999;
	margin:10px 0 10px 0;
	background:url(../images/sidebarh2.jpg) right no-repeat;
	border:none;
}

#sidebar h3 {
        color:#FF8040;
	font:90% Verdana;
	font-weight:bold;
	letter-spacing:2px;
}

#sidebar p {
	margin:15px 0;
}

#sidebar p.news {
	background:#323232;
}

#sidebar p.news a.more {
	color:#ccc;
	display:block;
	text-align:right;
	font:80% Verdana;
	text-transform:uppercase;
	letter-spacing:1px;
	text-decoration:none;
	padding:10px 0;
}

#sidebar p.news a:hover {
	color:#98D158;
}

#sidebar .subnav {
	border-top:1px solid #2C2C2C;
}

#sidebar .subnav li {
	list-style:none;
	padding:5px;
	border-bottom:1px solid #2C2C2C;
}

#sidebar .subnav li a {	
	color:#FFFFFF;
	text-decoration:none;
	display:block;
}

#sidebar .subnav li a:hover {
	color:#98D158;
}

#sidebar .subnav li a b {
	float:right;
	display:none;
	color:#666;
}

#sidebar .subnav li a:hover b {
	display:inline;
}

#sidebar input {
	padding:4px;
	background:#2c2c2c;
	border:1px solid #222222;
	color:#FFFFFF;
	font:90% Verdana;
	width:190px;
}

#sidebar select {
	padding:4px;
	background:#2c2c2c;
	border:1px solid #222222;
	color:#FFFFFF;
        font:90% Verdana;
        width:200px;
}	

#sidebar input[type='checkbox'] {
        width:15px;
        padding:4px;
        border:1;
        border-bottom:1px dotted #ccc;
        font:90% Verdana;
        color:#777;
}

#sidebarright {
	width:170px;
	float:right;
	padding:10px 0 0 20px;
	background:url(../images/sidebarright.jpg) top left no-repeat;
}

#sidebarright p {
	font:90% Verdana;
	color:#777;
	line-height:20px;
	margin:10px 0;
}

#sidebarright h2 {
	font:140% Arial;
	color:#333;
	margin:10px 0;
	border:none;
}

#sidebarright ul {
	margin:10px 0 10px 15px;
	font:90% Verdana;
}

#sidebarright ul li {
	margin:5px 0;
}

#sidebarright a {
	border-bottom:1px dotted #eee;
	color:#444;
	text-decoration:none;
}

#sidebarright a:hover {
	border-bottom:1px solid #ccc;
}


#content {
	margin:0 210px 0 240px;
	background:url(../images/content.jpg) top left no-repeat;
	padding:20px 0 0 20px;
}

#content ul { 	 
	         margin:15px 0 15px 0; 	 
	         line-height:25px; 	 
	         padding:15px 0 15px 15px; 	 
	         border-top:1px solid #eee; 	 
	         border-bottom:1px solid #eee; 	 
	         color:#79B933; 	 
}

#content ul span { 	 
         color:#444; 	 
}

#contentnorightbar {
	margin:0 0 0 240px;
	/*background:url(../images/content.jpg) top left no-repeat;*/
	padding:20px 0 0 20px;
}

p {
	margin:15px 0;
	line-height:22px;
}

h2 {
	font:190% Arial;
	color:#79B933;
	border-bottom:2px solid #f6f6f6;
}

h2 a {
	color:#79B933;
	text-decoration:none;
}

h2 a:hover {
	color:#5F9128;
}

#footer {
	clear:both;
	border-top:1px solid #eee;
	padding:10px;
	margin:30px 0 0;
}

a {
	color:#222;
}

a.table {
	color: #348017;
}

a.toolTip {
//	color: #000000;
	color: #0099FF;
}

a:hover {
	text-decoration:none;
}

h3 {
	font:140% Trebuchet MS;
	margin:10px 0;
}

#contentnorightbar ul {
        margin:15px 0 15px 20px;
	text-align:left;
	list-style-type: none;
	border:	0px;
	padding-bottom:	2px;
	color:#79B933;
}

li.fieldset {
	clear:left;
	padding-top:1px;
}

#contentnorightbar ul span {
	color:#444; 
}

#contentnorightbar h9 {
        font:150% Arial;
        color:#0066CC;
        padding:16px 0 0 0;
        border:none;
}

#contentnorightbar h8 {
        font:150% Arial;
        color:#FF0000;
        padding:16px 0 0 0;
        border:none;
}


#contentnorightbar h7 {
        font:150% Arial;
        color:#666;
        padding:16px 0 0 0;
        border:none;
}



form {
	padding:10px;
	border:1px solid #f6f6f6;
}

form.sidebar {
	padding:10px;
	border:0px solid #f6f6f6;
}


/***********************************************
* Forms With Style -  Design Melt Down (www.designmeltdown.com)
* This notice MUST stay intact for legal use
* Visit Design Melt Down at http://www.designmeltdown.com/ 
***********************************************/

form fieldset{
	background-color:#e9f9ac;
	
	border-width:2px 2px 2px 10px;
	border-style:solid;
	border-color:#cee574;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
		
	width:95%;
	position:relative;
	display:block;
}

label.form {
	display:		block;
	font-size:90%;
	font-weight:bold;
	color:			#646729;
	float:			left;
	width:			180px;
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 8px;
	clear:left;

}

label.dorm {
	background-position:left;

	color:#646729;
	font-size:90%;
	font-weight:bold;
	
	border-width: 0px;
	
	display:block;
	float:left;
	width:160px;
	height:1px;
	text-align:left;
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 8px;
	clear:left;
}

label.attributes {
	background-position:left;

	color:#646729;
	font-size:90%;
	font-weight:bold;
	
	border-width: 0px;
	
	display:block;
	float:left;
	min-width:280px;
	height:1px;
	text-align:left;
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 8px;
	clear:left;
}

input {
	width:180px;
	padding:1px;
	border:1;
	font:100% Verdana;
	color:#000000;
	margin: 2px;
}

input:focus {
//	background-color:#FFF8C6;
	background-color:#BCE954;
//	background-color:#CCFB5D;
	background-repeat:no-repeat;
	background-position:right;
}

input.button {
	height:19px;
	width:auto;
	background-color: #ffffff;
	border:1px solid #777;
	padding:0px;
	font:90% Verdana;
	color:#000000;
        margin-top: 5px;
}

input.integer {
        width:19px;
}

input[type="radio"] {
        width:13px;
}

input[type='checkbox'] {
	width:15px;
	padding:1px,10px,10px,10px;
	margin: 2px,10px,10px,10px;
}

select.form {
        width:185px;
	height:20px;
	padding:1px;
	border:1;
	font:100% Verdana;
	color:#000000;
	margin: 2px;
}

select.long {
        width:185px;
	height:20px;
	padding:1px;
	border:1;
	font:100% Verdana;
	color:#000000;
	margin: 2px;
}


div.ToolTip {
	font:88% Verdana;
	padding-top: 1px;
	padding-bottom: 1px;
	float:left;
//	color:#E8A417;
	color:#646729;
//	background-color: #F4F4F4;
	margin-left:190px;
}


option {
        padding:2px;
}


textarea.form {
        padding:4px;
	margin:2px;
        background:#ffffff;
        color:#000000;
        font:90% Verdana;
        width:175px;
	height:60px;
}

p img {
	float:left;
	margin:0 10px 0 0;
}

a.helper {
	color: green;
        font: 9px "Trebuchet MS",Verdana;
	padding: 2px;
	text-decoration:none;
}


blockquote p {
	font:160% Georgia;
	color:#aaa;
	padding:0 10% 0 0;
	line-height:30px;
}

table {
	width: 100%;
	color: #000000;
//	color: #617C58;
	font: 0.9em/1.6em "Trebuchet MS",Verdana,sans-serif;
	border-collapse: collapse
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #CCC;
}

table,caption {
	margin: 0 auto;
//	border-right: 1px solid #CCC;
//	border-left: 1px solid #CCC
}

caption,th,td {
	border-top: 0;
	border-left: 0;
	padding: 3px;
}

caption,thead th,tfoot th,tfoot td {
	background-color: #e9f9ac;
//	background-color: #C9BE62;
//	background-color: #cee574;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase
}

tfoot th {
	color: #617C58;
        color: #646729;
}
thead th {
//	background-color: #e9f9ac;
	background-color: #cee574;
//	color: #FFFFFF;
//	color: #617C58;
        color: #646729;
}

thead th.info {
        background-color: #333;
        color: #FFFFFF;
        text-align: center
}

tbody th {
	background-color: #e9f9ac;
//	padding: 20px 10px
}

tbody td {
	background-color: #e9f9ac;
        color: #646729;

}
tbody tr.odd {
	background-color: #FAF8CC;
	color: #666
}

tbody a {
	padding: 1px 2px;
	color: #000;
	text-decoration: none;
//	border-bottom: 1px dotted #000
}

tbody a:active,tbody a:hover,tbody a:focus,tbody a:visited {
	color: #000
}

tbody tr:hover {
	background-color: #FAF8CC;
	color: #000
}

tbody tr:hover a {
	background-color: #e9f9ac;
}

tbody td+td+td+td a {
//	color: #003366;
//	color: #FAF8CC;
	color: #348017;	
	font-weight: bold;
	border-bottom: 0
}

body td+td+td+td a:active,tbody td+td+td+td a:hover,tbody td+td+td+td a:focus,tbody td+td+td+td a:visited {
//	color: #000
//	color: #FAF8CC;
//	color: #e9f9ac;
	color: #348017;
}

tbody td a[href="http://www.rodcast.com.br/"] {
	margin: 0 auto;
	display: block;
	width: 15px;
	height: 15px;
	background: transparent url(http://www.rodcast.com.br/csstablegallery/i/logo.gif) no-repeat;
	text-indent: -999em;
//	border-bottom: 0
}

tbody a:visited:after {
	font-family: Verdana,sans-serif;
/*	content: "\00A0\221A" */
}

tbody a.novisit {
//        border-bottom: 1px dotted #fff
	border: none;
}

tbody a.tablenovisit {
//	color: blue;
	color: #348017;
//	color: #7E2217;
//        border-bottom: 1px dotted #fff;
}


tbody a.novisit:visited:after {
        font-family: Verdana,sans-serif;
/*        content: "\000" */
}



/* the color red used on acct-active.php to highlight overdue accounts */
h100 {
	color: red;
}

h109 {
	color: white;
}

/* the <h144> header tag is used to display the ? char for page's helpPage information */
h144 {
	font-family: Verdana,sans-serif;
	font-size: 0.75em;
    color:#000000;
	border-left: 1px solid #ccc;
}

/* used in language files to highlight sections */
h200 {
	color: #FF8040;
}

/* header used in fieldset */
h301 {
        font:110% Arial;
        font-weight:bold;
        color:#333;
}

/* header used in fieldset */
h302 {
	float:right;
        font:85% Arial;
	text-decoration:underline;
        color:#333;
}



/********************* BEGIN Carlos Changes ************************/

.summarySection {
    width: 70%;
    margin-bottom: 15px;
    margin-left:0px; 
}

.summarySection tr {
    vertical-align: center;
}

.summaryValue {
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #F4F4F4;
}

.summaryKey {
    width: 35%;
    background-color:#FFFFFF;
    text-align: right;
    font-weight:    vertical-align: top;
}

.sleft { float: left; }

/********************* END Carlos Changes ************************/







/********************* BEGIN Carlos box containers ***************/



.failure {
    border-bottom: 1px solid #fa601d;
    padding: 9pt 9pt 9pt 33pt;
    color: #484554;
    //color: #996600;
    font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
    font-size: 8pt;
    background: #FDDDD9 url("../images/icons/action-error.gif") 6pt 6pt no-repeat;
    margin: 1em 0px 0em 0px;
}

.warning {
    background:#F8FEA5 url(../images/icons/action-warning.gif) no-repeat scroll 6pt;
    border-bottom:1px solid #EBFA1D;
    color:#484554;
    font-size:8pt;
    margin:1em 0px 10px;
    padding:9pt 9pt 9pt 33pt;
}

.success {
    background:#DFEF7A url(../images/icons/action-success.gif) no-repeat scroll 6pt;
    border-bottom:1px solid #A9C500;
    color:#484554;
    font-size:8pt;
    margin:1em 0px 0em;
    padding:9pt 9pt 9pt 33pt;
}


.help {
    border-bottom: 1px solid #1d4efa;
    padding: 9pt 9pt 9pt 33pt;
    color: #484554;
    font-size: 8pt;
    background: #DFF5FE url("../images/icons/action-help.gif") 6pt 6pt no-repeat;
    margin: 1em 0px 1em 0px;
}


/********************* END Carlos box containers *****************/
