

   /* Big box with list of options */
   #ajax_listOfOptions_small{
      margin-left:10px;
      margin-top:2px;
      position:absolute;   /* Never change this one */
      width:175px;   /* Width of box */
      height:250px;   /* Height of box */
      overflow:auto;   /* Scrolling features */
      border:1px solid #006400;   /* Dark green border */
      background-color:#FFF;   /* White background color */
      text-align:left;
      font-size:0.9em;
      z-index:100;
   }
   #ajax_listOfOptions_small div{   /* General rule for both .optionDiv and .optionDivSelected */
      margin:1px;      
      padding:1px;
      cursor:pointer;
      font-size:0.9em;
   }
   #ajax_listOfOptions_small .optionDiv{   /* Div for each item in list */
      
   }
   #ajax_listOfOptions_small .optionDivSelected{ /* Selected item in the list */
      background-color:#006400;
      color:#FFF;
   }

   /* Big box with list of options */
   #ajax_listOfOptions_large{
      margin-left:10px;
      margin-top:2px;
      position:absolute;   /* Never change this one */
      width:265px;   /* Width of box */
      height:250px;   /* Height of box */
      overflow:auto;   /* Scrolling features */
      border:1px solid #006400;   /* Dark green border */
      background-color:#FFF;   /* White background color */
      text-align:left;
      font-size:0.9em;
      z-index:100;
   }
   #ajax_listOfOptions_large div{   /* General rule for both .optionDiv and .optionDivSelected */
      margin:1px;      
      padding:1px;
      cursor:pointer;
      font-size:0.9em;
   }
   #ajax_listOfOptions_large .optionDiv{   /* Div for each item in list */
      
   }
   #ajax_listOfOptions_large .optionDivSelected{ /* Selected item in the list */
      background-color:#006400;
      color:#FFF;
   }
   #ajax_listOfOptions_iframe{
      background-color:#F00;
      position:absolute;
      z-index:5;
   } 
