#DHTMLgoodies_formTooltipDiv{
	color:#FFF;
	font-family:arial;
	font-weight:bold;
	font-size:1.0em;
	line-height:120%;
}
.DHTMLgoodies_formTooltip_closeMessage{
	color:#FFF;
	font-weight:normal;
	font-size:0.7em;
}

