<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Invoice Template</title>
<style type="text/css">
<!--
body {
  font-family:Tahoma;
}

img {
  border:0;
}

#page {
  width:800px;
  margin:0 auto;
  padding:15px;

}

#logo {
  float:right;
  margin:0;
}

#address {
  height:181px;
}

table {
  border-width: 1px;
  width:100%;
}

td {
  padding:5px;
}

tr.odd {
  background:#e1ffe1;
}
-->
</style>
</head>
<body>
<div id="page">
  <div id="logo">
    <a href="http://www.daloradius.com/"><img src="company-logo.png"></a>
    
 	<div id="address">
		<p>Enginx<br/>
		<a href="mailto:team@enginx.com">team@enginx.com</a>
		</p>
		
		<p>
		Created on 01-10-2010
		</p>
		
	</div><!--end address-->
    
    
  </div><!--end logo-->
 
  <div id="content">
    <p>
      <b>Customer Name and Contact</b><br/>
      Liran Tal<br/>
      Ashdod, Israel<br/><br/>
      
      <b>Phone:</b> 212-55512345<br/>
      <b>Email:</b> liran.tal@gmail.com<br/>
    <hr>
    
    
    <table>
      <tr><td><strong>Description</strong></td><td><strong>Qty</strong></td><td><strong>Unit Price</strong></td><td><strong>Amount</strong></td></tr>
      <tr class="odd"><td>Product 1</td><td>1</td><td>4.95</td><td>4.95</td></tr><tr class="even"><td>Product 2</td><td>1</td><td>4.95</td><td>4.95</td></tr><tr class="odd"><td>Product 3</td><td>1</td><td>4.95</td><td>4.95</td></tr>              <tr><td>&nbsp;</td><td>&nbsp;</td><td><strong>Total</strong></td><td><strong>14.85</strong></td></tr>

    </table>
    <hr>
    <p>
      Thank you for your order!  This transaction will appear on your billing statement as "Your Company".<br />
      If you have any questions, please feel free to contact us at <a href="mailto:youremail@somewhere.com">youremail@somewhere.com</a>.
    </p>

    <hr>
    <p>
      <center><small>This communication is for the exclusive use of the addressee and may contain proprietary, confidential or privileged information. If you are not the intended recipient any use, copying, disclosure, dissemination or distribution is strictly prohibited.
      <br /><br />
      &copy; Enginx (C) All Rights Reserved
      </small></center>
    </p>
  </div><!--end content-->
</div><!--end page-->
</body>

</html>
