/* $Id: style.css,v 1.4 2004/01/25 17:20:46 migueldb Exp $
 * Style sheet for PHPlot 
 */

   
.foot { 
    text-align:right; 
    font-style:italic; 
    font-size:smaller;
    width:100%;
    background:#CCCCCC;
    color:#000000;
    }

    
.nav {
    text-align:center;
    color:#DDDDDD;
    background:#FFFFFF;
    font-size:7px;
    }
 
.imgfoot { text-align:center; font-size:small; font-style:italic; }  
.hdr { text-align:center; background: #DDDDDD; color:#000000; }
.bighdr { text-align:center; font-weight: bold; }

h2 { border-bottom: 1px dashed; } 
h3 { border-bottom: 1px dotted; margin-left:1em;}

img { padding: 0.5em; }

.box { 
    background-color: #cccccc; 
    color: #000000; 
    border:1px solid; 
    width:75%; 
    margin:2em;
    font-size:smaller;
    }
    
pre { font-family: monospace, "white-space" }
        
