<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Batch details</title>
####__STYLE__####
</head>
<body>

<table class="doc-header">
    <tr>
        <td class="title">Batch details</td>
        <td class="logo"><img src="company-logo.jpg" alt=""></td>
    </tr>
</table>
<div class="meta">Issued on ####__INVOICE_CREATION_DATE__####</div>

<h1 class="section">Business / hotspot</h1>
<div class="panel">
    <table class="kv">
        <tr><td class="k">Name</td><td>####__BUSINESS_NAME__####</td></tr>
        <tr><td class="k">Owner</td><td>####__BUSINESS_OWNER_NAME__####</td></tr>
        <tr><td class="k">Address</td><td>####__BUSINESS_ADDRESS__####</td></tr>
        <tr><td class="k">Phone</td><td>####__BUSINESS_PHONE__####</td></tr>
        <tr><td class="k">Email</td><td>####__BUSINESS_EMAIL__####</td></tr>
        <tr><td class="k">Web</td><td>####__BUSINESS_WEB__####</td></tr>
    </table>
</div>

<h1 class="section">Service plan</h1>
####__SERVICE_PLAN_INFO__####

<h1 class="section">Batch</h1>
####__BATCH_DETAILS__####

<h1 class="section">Active users</h1>
####__BATCH_ACTIVE_USERS__####

</body>
</html>
