<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Invoice</title>
<style type="text/css">
<!--
body {
  font-family:Tahoma;
}


#page {
  width:980px;
  padding:15px;

}


table {
  border-width:1px;
  width:100%;
}

td {
  padding:5px;
}

tr.odd {
  background:#e1ffe1;
}
-->
</style>
</head>
<body>

<div id="page">

<table width='900px';>
	<tr>
	
		<td width='450px'>
			<p>
			  <b>Customer Name and Contact</b><br/>
			  ####__CUSTOMER_NAME__####<br/>
			  ####__CUSTOMER_ADDRESS__####<br/><br/>
			  
			  <b>Phone:</b> ####__CUSTOMER_PHONE__####<br/>
			  <b>Email:</b> ####__CUSTOMER_EMAIL__####<br/>
			<hr>
	    </td>
	
	
		<td>
			<a href="http://www.daloradius.com/"><img src="company-logo.jpg" border='0'/></a>
		

				<p>Enginx<br/>
				<a href="mailto:team@enginx.com">team@enginx.com</a>
				</p>
					Created on ####__INVOICE_CREATION_DATE__####
				<p>
				
				</p>
		</td>
	</tr>
</table>

  <div id="content">

    
    
    <div class="header">
	    <br/>
    	<p>
    	<b>Welcome Notification</b>
    	<br/><br/>
    	
    	Dear customer, <br/><br/>
    	
    	Welcome to our Hotspot service.<br/>
    	We hope you enjoy and wishing you happy surfing<br/>
    	
    	</p>
    </div>

	
	<br/><br/><br/>
	<br/><br/><br/>

    <hr>
    <p>
      Thank you for your order!<br/>
      If you have any questions, please feel free to contact us at <a href="mailto:team@enginx.com">team@enginx.com</a>.
    </p>
    <hr>
    <br/><br/>
    <p>
      <small>This communication is for the exclusive use of the addressee and may contain proprietary, confidential or privileged information.<br/>
			If you are not the intended recipient any use, copying, disclosure, dissemination or distribution is strictly prohibited.
      <br /><br />
      &copy; Enginx (C) All Rights Reserved
      </small>
    </p>
  </div><!--end content-->
</div><!--end page-->
</body>

</html>
