<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome notification</title>
####__STYLE__####
</head>
<body>

<table class="doc-header">
    <tr>
        <td class="title">Welcome</td>
        <td class="logo"><img src="company-logo.jpg" alt=""></td>
    </tr>
</table>
<div class="meta">Issued on ####__INVOICE_CREATION_DATE__####</div>

<h1 class="section">Account holder</h1>
<div class="panel">
    <table class="kv">
        <tr><td class="k">Name</td><td>####__CUSTOMER_NAME__####</td></tr>
        <tr><td class="k">Address</td><td>####__CUSTOMER_ADDRESS__####</td></tr>
        <tr><td class="k">Phone</td><td>####__CUSTOMER_PHONE__####</td></tr>
        <tr><td class="k">Email</td><td>####__CUSTOMER_EMAIL__####</td></tr>
    </table>
</div>

<h1 class="section">Welcome aboard</h1>
<p class="lede">Dear customer,</p>
<p>welcome to our Hotspot service. Your account is ready to use &mdash; we hope you enjoy it
and wish you happy surfing.</p>
<p>If you have any question, just get in touch with us.</p>

<div class="footer">
    This communication is for the exclusive use of the addressee and may contain confidential
    information. If you are not the intended recipient, any use, copying, disclosure or
    distribution is strictly prohibited.
</div>

</body>
</html>
